@model IEnumerable<SanityDotNet.SampleWeb.Models.ViewModels.CategoryViewModel>

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>title</title>
</head>
<body>
  <div>
    <ol>
      @foreach (var doc in Model)
      {
        <li>
          <h2>@(doc.Category.DisplayName ?? doc.Category.Title)</h2>
          <p>
            <a href="@doc.Url">@doc.Url</a>
          </p>
        </li>
      }
    </ol>
  </div>
</body>
</html>